// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
$primary-color: #9747ff;
$secondary-color: #ececec;
$text-color: #121212;
$font: 'Open Sans', sans-serif;
$space-1: 15px;
$space-2: 20px;
