@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Lexend:wght@100;400;500;600;700&display=swap');

$primary-color: #590455;
$secondary-color: #ececec;
$text-color: #121212;
$text-color-2: #CD00C5;
$font-1: 'Lexend', sans-serif;
$font-2: 'Aleo', serif;
$space-1: 15px;
$space-2: 20px;
