@import '../variables/variables';
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
    font-size: 15px;
    color: $secondary-color;
}
a {
  text-decoration: none;
  color: $secondary-color;
}
ul, ol {
  list-style-type: none;
}
img{
    max-width: 100%;
    max-height: auto;
}
.container{
  width: 85%;
}
.active{
  color: #BB00B4;
}