@media (max-width: 560px) and (min-width:250px) {
  .navigation {
    justify-content: space-between;
    height: 76px;
    position: relative;
    margin: 0 auto;
    z-index: 10;
    .logoContainer {
      width: 8rem;
    }
  }
  // hamburger menu
  .ham-b {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: $primary-color;
    border: 2px solid $secondary-color;
    border-radius: 5px;
    padding: 5px;

    .btn {
      width: 20px;
      height: 3px;
      background-color: $secondary-color;
      position: absolute;
      border-radius: 10px;
      transition: transform 1s cubic-bezier(0.525, 0.84, 0.4, 1);
    }

    .btn-1 {
      top: 6px;
    }

    .btn-2 {
      top: 14px;
    }

    .btn-3 {
      top: 22px;
    }
  }
  // style for active hamburger
  .activeHam-b {
    .btn-1 {
      transform: rotate(140deg);
      top: 14px;
    }

    .btn-2 {
      transform: scale(0);
    }
    .btn-3 {
      transform: rotate(-140deg);
      top: 14px;
    }
  }
  // initial menu styling
  .menu {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    // height: 75vh;
    width: 0;
  }
  .menu-active {
    transition: width 2s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(to top, $primary-color, #171116);
    width: 100%;
    top: 76px;
    li{
        padding: 10px;
        text-align: center;
        &:hover{
            box-shadow: 3px 3px 5px $secondary-color;
        }
    }
  }
}
